<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header><a id ="ga">GA</a><a>M</a>ovie<a>D</a>atabase</header>
	<p id = "subTitle">Searching for movies has never been so easy!</p>
	<%= yield %> 
	<footer id ="footer">&copy; Isha 2016</footer>

</body>
</html>