<!-- display list of movies -->
<div id ="list">
<h2>Search Results matching your enquiry</h2>

<% @result.each do |movie| %>
<tr>
  <td><a href="/display?id=<%= movie["imdbID" ]%>"><img style="max-height:80px;max-width:80px;" src="<%= movie['Poster']%>" alt="" /></a></td>
   <td><a href="/display?id=<%= movie["imdbID" ]%>"><%= movie['Title'] %></a></td>
</tr></br>
<% end %>
</div>
