<!-- login form -->
<form action="/user" method="post">
  <label>Username</label>
  <input type="text" name="username">
  <label>password</label>
  <input type="password" name="password">
  <button>Login</button>
</form>
